.body {
    background-color: #2A2A2A;
    color: white;
    }

#avatar {
      background-image: url(/home/julienf/Bureau/user_3_Artboard_1-512.png);
      background-repeat: no-repeat;
      width: 50%;
      height: 60vh;
      padding: 0;
    }

.img {
	width: 50%;
	height: 40vh;
  position:absolute; top:10%; left:30%;
}

#text {
  width: 50%;
  height: 20vh;
  position:absolute; top:15%; left:10%;
  text-shadow: 1px 1px 2px grey, 0 0 1em black, 0 0 0.2em black;
}

#text2 {
  width: 50%;
  height: 20vh;
  position:absolute; top:80%; left:42%;
  text-shadow: 1px 1px 2px grey, 0 0 1em black, 0 0 0.2em black;
}

.pos {
  position:absolute; top:22%; left:10%;
}

.pos2 {
  position:absolute; top:22%; left:12%;
}

.pos3 {
  position:absolute; top:22%; left:14%;
}
